.App__content_user_results {
    margin: 20px; /* Отступы по краям */
    padding: 20px; /* Внутренние отступы */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Скругленные углы */
    background: rgba(43, 0, 108, 0.2); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Размытие для эффекта матового стекла */
    -webkit-backdrop-filter: blur(10px); /* Для Safari */
    /* border: 1px solid rgba(255, 255, 255, 0.3); Тонкая граница */
    box-shadow: 
      0 4px 6px rgba(0, 0, 0, 0.1), /* Тень */
      inset 0 1px 0 rgba(255, 255, 255, 0.1); /* Внутреннее свечение */
  }
  
  .App__content_user_results_days {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  }
  
  .App__content_user_results_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .day-name {
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
  
  .day-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
  }
  
  .day-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  /* Для текущего дня */
  .App__content_user_results_data.today .day-name {
    font-weight: bold;
    color: #fff;
  }
  
  .App__content_user_results_data.today .day-circle {
    border-color: #fff;
  }


  .Slider__meditations_conteiner {
    margin: 20px; /* Отступы по краям */
    padding: 20px; /* Внутренние отступы */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Скругленные углы */
    background: rgba(43, 0, 108, 0.2); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Размытие для эффекта матового стекла */
    -webkit-backdrop-filter: blur(10px); /* Для Safari */
    /* border: 1px solid rgba(255, 255, 255, 0.3); Тонкая граница */
    box-shadow: 
      0 4px 6px rgba(0, 0, 0, 0.1), /* Тень */
      inset 0 1px 0 rgba(255, 255, 255, 0.1); /* Внутреннее свечение */
  }
  
  